.nav-list {
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(black, 0.1);
    padding: 12px;
    
    .nav-list-button {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 6px 0;
        text-align: center;
        background-color: rgba(black, 0.2);
    }

    
    .nav-list-list {
        .nav-list-item {
            display: block;
            margin-bottom: 20px;
            text-align: center;
            text-decoration: none;
            color: black;
            img {
                width: 30px;
                margin: auto;
            }
            p {
                font-size: 12px;
            }
        }
    }
}