* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#app {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.back-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.table {
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    text-align: left;
    overflow: hidden;
}
.table thead {
    background-color: #6F7BD9;
    color: #FFF;
}

.table th, .table td {
    padding: 1rem 1rem;
    font-weight: normal;
    font-size: 14px;
}

.table tbody tr {
    font-size: 13px;
    &:nth-child(even) {
        background-color: #F8F7FE;
    }
}

// Animations
.lds-ring {
    display: flex;
    align-items: center;
    margin: auto;
    width: 80px;
    height: 100%;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(000, 000, 000) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}