.home {
    width: 100%;
    height: 100%;
    animation-name: enter;
    animation-duration: 0.2s;

    .home-cointainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 200px;
        height: 100vh;
        margin: auto;
        justify-items: center;
        align-items: center;
        transition: all 5s ease-in;


        .home-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            padding: 16px;
            border-radius: 50%;
            box-shadow: 0 0 2px rgba(black, 0.5);
            transition: all 0.2s;
            
            &:hover {
                transform: scale(1.2);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@keyframes enter {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}