.login {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    color: #979797;
    .login--presentation {
        width: 35%;
        background-color: #01509E;
    }

    .login--form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }
}

.form-container {
    width: 90%;
    max-width: 375px;
    h1 {
        margin-bottom: 32px;
    }

    .input-form {
        border: solid 1.5px #cccccc;
        border-radius: 8px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .input-form input {
        display: block;
        width: 100%;
        padding: 12px;
        &:focus {
            outline: none;
        }
    }

    .input-form.input-submit {
        border: none;
        border-radius: 0;
        .btn {
            display: inline-block;
            border-radius: 10px;
            background-color: #01509E;
            color: #FFF;
            width: auto;
            padding: 0.5rem 3rem;
            cursor: pointer;
        }
    }
}