.sales {
    width: 100%;
    height: 100%;
    animation-name: enter;
    animation-duration: 0.2s;
}

.main-conainer {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows: 50px 1fr;
    width: 100%;
    height: 100%;

    header {
        grid-column: span 2;
        background-color: red;
    }

    nav {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 16px 0;
    }

    main {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color: pink;
        padding: 16px;
        overflow-y: auto;
    }
}

